services:
  backend:
    build: .
    container_name: backend
    restart: always
    ports:
      - "80:8080"
    environment:
      - JASYPT_ENCRYPTOR_PASSWORD=${JASYPT_ENCRYPTOR_PASSWORD}
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE:-prod}
      - TZ=${TZ:-Asia/Seoul}
