# Production profile (uses Jasypt encrypted credentials)
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ENC(hreV3OB6omvQztCCfq9rm6keFJqxLevWw6iMdnXr7Jib6zKqQIbmNnlyNSjPuTmTR00B3nssav0Fw96cIiRJw3fPG4andsJi+AJ8Z8hY1r4Bv4jc8ohCVFRbDgrD8dAYON836L/3+HyHA9J3+cO2gIWhfNJdA/qLY5CecTrruC1nxx+JNnLSPfz2OZ/nKZd3oUUO3vuPmsDJFz1VTUgEFX0o98IDgRAc++2DDaWl9TY=)
    username: ENC(h8p2KtxJTzeZjMRseIT4gapTDm3Tc51u1zN3w+Tti4aVYW8MUeXYrV+l+FqYhXe+)
    password: ENC(5GiyMjIZ/cAVONqVA2zPpm8Ck4x9kRcPpbIT8XRx+8ByIFEK7ZnTnehIRZSDIqFS)
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
      validation-timeout: 5000
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

# Jasypt encryptor configuration
jasypt:
  encryptor:
    password: ${JASYPT_ENCRYPTOR_PASSWORD:}
    algorithm: PBEWITHHMACSHA512ANDAES_256
    iv-generator-classname: org.jasypt.iv.RandomIvGenerator

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when_authorized

logging:
  level:
    root: info
    org.hibernate.SQL: warn
    org.hibernate.orm.jdbc.bind: off

